:root{
    --background-calculatorButtons: black;
    --button-fontSize : 2rem;
    --displayFontSize: 3rem;
}

.result{
    height: 50px;
    width: auto;
    font-size: var(--displayFontSize);
}

.row1 ,.row2,.row3,.row4{
    background-color:var(--background-calculatorButtons);
} 

.row1 ,.row2,.row3,.row4 {
    color: white;
    display: flex;
    justify-content: center;
} 

button{
    color: white;
    background-color: var(--background-calculatorButtons);
    font-size: var(--button-fontSize);
    padding: 2rem;
    width: clamp(30px, 50%, 500px);
    border: 2px white solid;
    
}